<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exam Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [class.active]="activeTab === 'home'">
          <a class="nav-link" routerLink="/admin" (click)="setActiveTab('home')">Home</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item" [class.active]="activeTab === 'categories'">
          <a class="nav-link" routerLink="/admin/categories" (click)="setActiveTab('categories')">Categories</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item" [class.active]="activeTab === 'quizez'">
          <a class="nav-link" routerLink="/admin/quizzes" (click)="setActiveTab('quizez')">Quizez</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item" [class.active]="activeTab === 'result'">
          <a class="nav-link" routerLink="/admin/test-result" (click)="setActiveTab('result')">Result</a>
        </li>
        <li *ngIf="isAdmin()" class="nav-item" [class.active]="activeTab === 'statistics'">
          <a class="nav-link" routerLink="/admin/statistics" (click)="setActiveTab('statistics')">Statistics</a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success btn-light" type="submit">Search</button>
      </form> -->
      <!-- <li class="nav-item"> -->
        <div *ngIf="!isLogIn; else logedout">
          <a mat-button [routerLink]="'/login'" style="cursor: pointer;" class="example-icon login-icon mr-2 text" aria-label="Example icon-button with heart icon" title="login">
            <!-- <mat-icon>login</mat-icon> -->
            Login
          </a>
      
          <!-- </ng-template> -->
          <a mat-button [routerLink]="'/signup'" style="cursor: pointer;" class="example-icon login-icon text" aria-label="Example icon-button with heart icon" title="Register">
            Register
            <!-- <span style="cursor:pointer" class="mr-2">Register</span> -->
          </a>
        </div>
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
        <ng-template #logedout>
          <!-- <ng-template #logedOut> -->
            <a mat-button (click)="logout()" [routerLink]="'/logout'" style="cursor: pointer;" class="example-icon login-icon mr-2 text" aria-label="Example icon-button with heart icon" title="logout">
              <mat-icon>logout</mat-icon>
              <!-- Logout -->
            </a>
            <a mat-button (click)="profile()" style="cursor: pointer;" class="example-icon login-icon mr-2 text" aria-label="Example icon-button with heart icon" data-toggle="modal" data-target="#exampleModal">
              {{username}}
              <!-- Logout -->
            </a>
        </ng-template>
      <!-- </li> -->
      
    </div>
  </div>
</nav>


