.table {
    width: 78%;
    // text-align: center;
    margin: auto;
    margin-left: 0px;
}

button {
    margin: 0px 12px;
}

.card-container {
    position: relative;
}

.mt-10 {
    margin-top: 10px;
}
// .update-category-parent-image{
//     position: absolute;
//     top: 8%;
//     left: 5%;
// }

.example-update-image{
    height: 2rem;
    cursor: pointer;
    z-index: 1;
    margin-right: 12px;

}

// .delete-category-parent-image{
//     position: absolute;
//     top: 56%;
//     left: 5%;

// }