.resultid{
    cursor: pointer;
    color: blue;
}


@media only screen and (max-width: 805px) {
    /* Styles to apply when screen width is 768px or less */
    .datatable{
        position: absolute;
    }
  }