.back-quizz-image{
    height: 3rem;
}

.back-quizz-image-parent{
    position: absolute;
    right: 1%;
}

// button{
//     margin: 12px;
// }

.spinner{
    margin: auto;
    padding-bottom: 2rem;
    
}

.spinner_parent{
    margin-top: 3.5rem;
}