.add-quizz-image-parent{
    position: absolute;
    // top: 83%;
    // left: 88%;
    z-index: 1;
    cursor: pointer;
}

.add-quizz-image{
    height: 4rem;
    top: 86%;
    left: 88%;
    position: fixed;
}

.back-quizz-image-parent {
    position: absolute;
    // top: 83%;
    // left: 88%;
    z-index: 1;
    cursor: pointer;
}

.back-quizz-image {
    height: 4rem;
    position: fixed;
    top: 50%;
    left: 90%;
}