.menu-text {
    vertical-align: super;
    margin-left: 1rem
}

.scrollable-container {
    height: calc(100vh - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 0.3s;
}
.scrollable-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit-based browsers */
}
.scrollable-container {
    -ms-overflow-style: none;  /* Hide the scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
}