/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: #eeeeee; }


.text-center{
    text-align: center;
}

.fix-width{
    width: 120px !important;
    height: 120px !important;
    display: block;
    margin: 0px auto;
}

.p-lr{
    padding: 0px 10px;
}

a.text{
    color: white;
}
a.text:hover{
    color: white;
    text-decoration: none;
    // text-shadow: 1px 1px 1px silver;
}@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
 
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
