.full-width{
    width: 100%;
}

.doneButtoon{
    width: 20px;
    position: absolute;
    top: 86.6%;
    left: 54%;
}

button{
    margin: 12px;
}

.example-update{
    cursor: pointer;
    // margin-left: 64rem;
    // position: absolute;
    // top: 1rem;
    // left: 13rem;
    top: 3%;
    left: 95%;
    position: absolute;
}
.example-update-image{
    height: 2rem;
    // margin-left: 64rem;
    // position: absolute;
    // top: 1rem;
    // left: 13rem;
}