.table{
    width: 78%;
    text-align: center;
    margin: auto;
}

.table tr td {
    padding: 15px 20px;
    border: 0.5px solid rgb(198, 198, 207);
}

button{
    margin:0px 12px;
}

.container{
    justify-content: center;
}

.mt-10 {
    margin-top: 20px;
}