.menu-text {
    vertical-align: super;
    margin-left: 1rem
}


  /* Add this style in your component's style file */
@media (max-width: 900px) {
    .hidden-menu {
      display: none !important;
    }
  
    mat-card {
      width: 100%;
    }
  
    mat-action-list {
      width: 100%;
    }
  
    button {
      width: 100%;
      text-align: left;
    }
  }
  